.product-card{

    width:320px;

    background:#111;

    border-radius:24px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.08);

    transition:.4s;

    cursor:pointer;

}

.product-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(123,47,247,.25);

}

.product-image{

    height:260px;

    position:relative;

    background:linear-gradient(
    135deg,
    #181818,
    #222
    );

    display:flex;

    justify-content:center;

    align-items:center;

}

.product-image img{

    width:85%;

    object-fit:contain;

    transition:.5s;

}

.product-card:hover img{

    transform:scale(1.08) rotate(-8deg);

}

.category-badge{

    position:absolute;

    top:18px;
    left:18px;

    padding:6px 14px;

    border-radius:30px;

    background:linear-gradient(
    135deg,
    #7b2ff7,
    #d946ef
    );

    color:white;

    font-size:.75rem;

}

.wishlist-btn{

    position:absolute;

    right:18px;
    top:18px;

    width:42px;
    height:42px;

    border-radius:50%;

    border:none;

    background:#1c1c1c;

    color:white;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;

}

.wishlist-btn:hover{

    background:#7b2ff7;

}

.product-content{

    padding:22px;

}

.product-brand{

    color:#9f9f9f;

    font-size:.85rem;

}

.product-content h3{

    color:white;

    margin:8px 0 14px;

    font-size:1.3rem;

}

.rating{

    display:flex;

    align-items:center;

    gap:6px;

    color:white;

    margin-bottom:18px;

}

.price-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.price{

    color:white;

    font-size:1.5rem;

    font-weight:700;

}

.old-price{

    margin-left:10px;

    text-decoration:line-through;

    color:#777;

}

.cart-btn{

    width:48px;
    height:48px;

    border:none;

    border-radius:50%;

    background:linear-gradient(
    135deg,
    #7b2ff7,
    #d946ef
    );

    color:white;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;

}

.cart-btn:hover{

    transform:scale(1.1);

}