.product-card {
  width: 220px;
  background: #1a1a1a;
  border-radius: 18px;
  padding: 14px;
  color: #fff;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}
.product-card:hover{
    transform: translateY(-3px);
    transition:ease-in;
}

.product-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #7b2ff7 ;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 10px;
}
.product-badge:hover{
  background: linear-gradient(90deg, #7b2ff7, #9b5cff, #d946ef);
    
}

.product-image-box {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.12), transparent 70%);
}

.product-image {
  width: 100%;
  max-width: 180px;
  object-fit: contain;
  transform: rotate(-10deg);
}


.product-name-container{
  padding-top: 10px;
    height: 55px;
    text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-size: 14px;
}

.product-price {
  color:white;
  font-weight: 700;
}
.discounted-price{
  padding-left: 10px;
}
.strikethrough_price{
  color: red ;
}
.product-rating {
  color: rgb(253, 253, 27);
}

.product-btn {
  width: 100%;
  border: none;
  background:  #7b2ff7;
  color: white;
  font-weight: 700;
  padding: 10px 14px;
  border-radius: 999px;
  cursor: pointer;
}
.product-btn:hover{
  background: linear-gradient(90deg, #7b2ff7, #9b5cff, #d946ef);
}